@import "../theme-config";

footer {
    padding: 30px;
    width: 100%;
    background-color: #3a393a;

    .wrapper {
        width: 100%;
        img {
            margin-top: 10px;
            max-width: 200px;
        }
    }

    p {
        position: relative;
        width: 100%;
        font-size: 18px;

        span {
            color: yellow;
        }

        &.featured {
            @include media-breakpoint-up(md) {
                &:before, &:after {
                    content: '';
                    position: absolute;
                    width: 15%;
                    height: 6px;
                    background-color: $aColor;
                    top: 11px;
                }

                &:before {
                    left: 23%;
                }

                &:after {
                    right: 23%;
                }
            }
        }
    }

    .bottom {
        height: 100px;
        width: 100%;
        background-color: $mainRed;

        p {
            width: 100%;

            img {
                height: 20px;
            }
        }
    }

    .mobile-contact {
        height: 40px;
        position: fixed;
        bottom: 0;

        .phone, .mail {
            cursor: pointer;

            i {
                font-size: 30px;
            }
        }

        .phone {
            background-color: green;
        }

        .mail {
            background-color: blue;
        }

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    .disclaimer {
        p {
            margin: 0;
            font-size: 12px;
        }
    }
}