#gallery {


    .gallery-slider {
        margin: 15px 0;

        .wrapper {
            -webkit-background-size: cover;
            background-size: cover;
            min-height: 350px;
            background-image: url("http://lorempixel.com/400/200/");
            position: relative;
        }
    }
}