@import "../theme-config";

html {
    padding-bottom: 40px;

    @include media-breakpoint-up(md) {
        padding-bottom: 0;
    }
}

#content {
    margin-bottom: 40px;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}