@import "../theme-config";

body.home {
    header {
        height: calc(100vh - 40px);

        @include media-breakpoint-up(md) {
            height: 100vh;
        }

        .row {
            .site-branding {
                height: 100vh;

                .center-me.sticky {
                    position: sticky;
                    position: -webkit-sticky;
                    top: calc(50% - 258px / 2);
                    margin-bottom: 150px;
                    align-items: center;

                    @include media-breakpoint-up(md) {
                        margin-bottom: 120px;
                    }
                }
            }
        }
    }
}

header {
    height: $bannerTop;
    background-color: #e8e8e8;
    background-image: url("../img/background-3.jpeg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;

    .row {
        .site-branding {
            justify-content: center;
            flex-direction: column;
            text-align: center;
            background-color: rgba(238, 238, 238, 0.3);
            height: $bannerTop;

            i {
                cursor: pointer;
                color: $aHoverColor;
                position: absolute;
                bottom: 50px;
                font-size: 50px;
                display: flex;
                flex-direction: column-reverse;

                @include media-breakpoint-up(md) {
                    bottom: 20px;
                }

                span {
                    font-size: 30px;
                    color: #000;
                }
            }
        }
    }
}

ul.header-main-nav {
    display: none;

    @include media-breakpoint-up(md) {
        display: flex;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: $mainRed;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

    }

    li.menu-item {
        position: relative;

        a {
            padding: .5em 3em;
            display: block;
        }

        &.menu-item-has-children {
            &:after {
                font: normal normal normal 14px/1 FontAwesome;
                content: "\f078";
                position: absolute;
                height: 15px;
                width: 15px;
                top: 30%;
                right: 10px;
                color: #fff;
                transition: all .3s;
            }

            &:hover {
                &:after {
                    color: $aHoverColor;
                    transform: rotate(180deg);
                }
            }
        }

        ul.sub-menu {
            display: block;
            width: 100%;
            text-align: center;
            position: absolute;
            list-style: none;
            margin: 0;
            padding: 0;
            opacity: 0;
            transition: opacity 450ms;
            -webkit-box-shadow: 0 12px 34px 4px rgba(157,159,163,1);
            -moz-box-shadow: 0 12px 34px 4px rgba(157,159,163,1);
            box-shadow: 0 12px 34px 4px rgba(157,159,163,1);

            li {
                flex: none;
                background-color: $mainRed;

                a {
                    padding: 5px 0;
                }
            }
        }

        &:hover {
            ul.sub-menu {
                opacity: 1;
            }
        }
    }
}

.mobile-menu-open {
    overflow: hidden;

    @include media-breakpoint-up(md) {
        overflow: auto;
    }
}

.center-me {
    justify-content: center;
    display: flex;
}

.right-me {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    position: -webkit-sticky;
    margin-bottom: 60px;
    z-index: 3;
    top: 40px;

    .hamburger {
        position: relative;
        cursor: pointer;

        span {
            width: 35px;
            margin-bottom: 5px;
            border: 2px solid $aColor;
            border-radius: 5px;
            display: block;
            transition: all .6s;
        }

        @include media-breakpoint-up(md) {
            display: none;
        }

        @at-root body.mobile-menu-open {
            .hamburger {
                span {
                    &:nth-child(1) {
                        transform: rotate(45deg) translateX(6px) translateY(6px);
                        border-color: #fff;
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg) translateX(6px) translateY(-6px);
                        border-color: #fff;
                    }
                }
            }
        }
    }
}

.mobile-menu {
    background-color: gray;
    width: 100%;
    height: 0;
    opacity: 0;
    position: fixed;
    transition: height .4s, opacity .4s;
    z-index: 2;

    @include media-breakpoint-up(md) {
        display: none;
    }

    .header-mobile-nav {
        height: 0;
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: height .4s, padding-top .4s;
        transition-delay: .4s;

        li {
            text-align: center;
            font-size: 0;
            transition: font-size .4s;
            margin-bottom: 10px;

            .sub-menu {
                list-style: none;
                padding-left: 0;
                display: none;
            }
        }

        @at-root body.mobile-menu-open {
            .header-mobile-nav {
                height: 100%;

                li {
                    font-size: 38px;

                    &:nth-child(1) {
                        transition-delay: .6s;
                    }
                    &:nth-child(2) {
                        transition-delay: .8s;
                    }
                    &:nth-child(3) {
                        transition-delay: 1s;
                    }
                    &:nth-child(4) {
                        transition-delay: 1.2s;
                    }
                }
            }
        }
    }

    @at-root body.mobile-menu-open {
        .mobile-menu {
            height: 100vh;
            opacity: .9;
        }
    }
}