#realizations {
    .card {
        margin-bottom: 5px;

        .card-header {
            a {
                background-color: $mainRed;
                text-align: center;
                border-radius: 3px;
                transition: all 450ms;

                &:hover, &:focus {
                    text-decoration: none;
                    background-color: #8d1f35;
                }
            }
        }

        .ngg-galleryoverview {
            text-align: center;

            .ngg-gallery-thumbnail-box {
                float: none;
                display: inline-block;
            }
        }
    }
}