.services {
    .card {

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
        .card-img-top {
            width: 100%;
            margin: 0 -15px;
            height: 230px;
        }

        .card-block {
            padding-bottom: 60px;

            a.button {
                position: absolute;
                bottom: 15px;
                left: calc(50% - 106px);
            }
        }
    }
}