.slider {
    margin: 30px 0;

    .wrapper {
        -webkit-background-size: cover;
        background-size: cover;

        min-height: 350px;
        position: relative;

        //.text-box {
        //    position: absolute;
        //    right: 210px;
        //    top: 0;
        //    bottom: 0;
        //    transform: skewX(-15deg);
        //    background-color: #fff;
        //    max-width: 250px;
        //
        //    h3 {
        //        color: $mainRed;
        //        margin: 20px 30px;
        //        border-bottom: 5px solid $aColor;
        //        padding-bottom: 20px;
        //
        //        &:last-child {
        //            border: none;
        //        }
        //    }
        //}
    }
}