html {
  padding-bottom: 40px; }
  @media (min-width: 768px) {
    html {
      padding-bottom: 0; } }

#content {
  margin-bottom: 40px; }

#map {
  width: 100%;
  height: 400px;
  background-color: grey; }

body.home header {
  height: calc(100vh - 40px); }
  @media (min-width: 768px) {
    body.home header {
      height: 100vh; } }
  body.home header .row .site-branding {
    height: 100vh; }
    body.home header .row .site-branding .center-me.sticky {
      position: sticky;
      position: -webkit-sticky;
      top: calc(50% - 258px / 2);
      margin-bottom: 150px;
      align-items: center; }
      @media (min-width: 768px) {
        body.home header .row .site-branding .center-me.sticky {
          margin-bottom: 120px; } }

header {
  height: 210px;
  background-color: #e8e8e8;
  background-image: url("../img/background-3.jpeg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover; }
  header .row .site-branding {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.3);
    height: 210px; }
    header .row .site-branding i {
      cursor: pointer;
      color: #39393A;
      position: absolute;
      bottom: 50px;
      font-size: 50px;
      display: flex;
      flex-direction: column-reverse; }
      @media (min-width: 768px) {
        header .row .site-branding i {
          bottom: 20px; } }
      header .row .site-branding i span {
        font-size: 30px;
        color: #000; }

ul.header-main-nav {
  display: none; }
  @media (min-width: 768px) {
    ul.header-main-nav {
      display: flex;
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: #D8173D;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none; } }
  ul.header-main-nav li.menu-item {
    position: relative; }
    ul.header-main-nav li.menu-item a {
      padding: .5em 3em;
      display: block; }
    ul.header-main-nav li.menu-item.menu-item-has-children:after {
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f078";
      position: absolute;
      height: 15px;
      width: 15px;
      top: 30%;
      right: 10px;
      color: #fff;
      transition: all .3s; }
    ul.header-main-nav li.menu-item.menu-item-has-children:hover:after {
      color: #39393A;
      transform: rotate(180deg); }
    ul.header-main-nav li.menu-item ul.sub-menu {
      display: block;
      width: 100%;
      text-align: center;
      position: absolute;
      list-style: none;
      margin: 0;
      padding: 0;
      opacity: 0;
      transition: opacity 450ms;
      -webkit-box-shadow: 0 12px 34px 4px #9d9fa3;
      -moz-box-shadow: 0 12px 34px 4px #9d9fa3;
      box-shadow: 0 12px 34px 4px #9d9fa3; }
      ul.header-main-nav li.menu-item ul.sub-menu li {
        flex: none;
        background-color: #D8173D; }
        ul.header-main-nav li.menu-item ul.sub-menu li a {
          padding: 5px 0; }
    ul.header-main-nav li.menu-item:hover ul.sub-menu {
      opacity: 1; }

.mobile-menu-open {
  overflow: hidden; }
  @media (min-width: 768px) {
    .mobile-menu-open {
      overflow: auto; } }

.center-me {
  justify-content: center;
  display: flex; }

.right-me {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  position: -webkit-sticky;
  margin-bottom: 60px;
  z-index: 3;
  top: 40px; }
  .right-me .hamburger {
    position: relative;
    cursor: pointer; }
    .right-me .hamburger span {
      width: 35px;
      margin-bottom: 5px;
      border: 2px solid #9D9FA3;
      border-radius: 5px;
      display: block;
      transition: all .6s; }
    @media (min-width: 768px) {
      .right-me .hamburger {
        display: none; } }
    body.mobile-menu-open .hamburger span:nth-child(1) {
      transform: rotate(45deg) translateX(6px) translateY(6px);
      border-color: #fff; }
    body.mobile-menu-open .hamburger span:nth-child(2) {
      opacity: 0; }
    body.mobile-menu-open .hamburger span:nth-child(3) {
      transform: rotate(-45deg) translateX(6px) translateY(-6px);
      border-color: #fff; }

.mobile-menu {
  background-color: gray;
  width: 100%;
  height: 0;
  opacity: 0;
  position: fixed;
  transition: height .4s, opacity .4s;
  z-index: 2; }
  @media (min-width: 768px) {
    .mobile-menu {
      display: none; } }
  .mobile-menu .header-mobile-nav {
    height: 0;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height .4s, padding-top .4s;
    transition-delay: .4s; }
    .mobile-menu .header-mobile-nav li {
      text-align: center;
      font-size: 0;
      transition: font-size .4s;
      margin-bottom: 10px; }
      .mobile-menu .header-mobile-nav li .sub-menu {
        list-style: none;
        padding-left: 0;
        display: none; }
    body.mobile-menu-open .header-mobile-nav {
      height: 100%; }
      body.mobile-menu-open .header-mobile-nav li {
        font-size: 38px; }
        body.mobile-menu-open .header-mobile-nav li:nth-child(1) {
          transition-delay: .6s; }
        body.mobile-menu-open .header-mobile-nav li:nth-child(2) {
          transition-delay: .8s; }
        body.mobile-menu-open .header-mobile-nav li:nth-child(3) {
          transition-delay: 1s; }
        body.mobile-menu-open .header-mobile-nav li:nth-child(4) {
          transition-delay: 1.2s; }
  body.mobile-menu-open .mobile-menu {
    height: 100vh;
    opacity: .9; }

footer {
  padding: 30px;
  width: 100%;
  background-color: #3a393a; }
  footer .wrapper {
    width: 100%; }
    footer .wrapper img {
      margin-top: 10px;
      max-width: 200px; }
  footer p {
    position: relative;
    width: 100%;
    font-size: 18px; }
    footer p span {
      color: yellow; }
    @media (min-width: 768px) {
      footer p.featured:before, footer p.featured:after {
        content: '';
        position: absolute;
        width: 15%;
        height: 6px;
        background-color: #9D9FA3;
        top: 11px; }
      footer p.featured:before {
        left: 23%; }
      footer p.featured:after {
        right: 23%; } }
  footer .bottom {
    height: 100px;
    width: 100%;
    background-color: #D8173D; }
    footer .bottom p {
      width: 100%; }
      footer .bottom p img {
        height: 20px; }
  footer .mobile-contact {
    height: 40px;
    position: fixed;
    bottom: 0; }
    footer .mobile-contact .phone, footer .mobile-contact .mail {
      cursor: pointer; }
      footer .mobile-contact .phone i, footer .mobile-contact .mail i {
        font-size: 30px; }
    footer .mobile-contact .phone {
      background-color: green; }
    footer .mobile-contact .mail {
      background-color: blue; }
    @media (min-width: 768px) {
      footer .mobile-contact {
        display: none; } }
  footer .disclaimer p {
    margin: 0;
    font-size: 12px; }

#contact .wpcf7 label, #contact .wpcf7 input, #contact .wpcf7 textarea {
  width: 100%; }

#gallery .gallery-slider {
  margin: 15px 0; }
  #gallery .gallery-slider .wrapper {
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 350px;
    background-image: url("http://lorempixel.com/400/200/");
    position: relative; }

.services .card:first-child {
  margin-left: 0; }
.services .card:last-child {
  margin-right: 0; }
.services .card .card-img-top {
  width: 100%;
  margin: 0 -15px;
  height: 230px; }
.services .card .card-block {
  padding-bottom: 60px; }
  .services .card .card-block a.button {
    position: absolute;
    bottom: 15px;
    left: calc(50% - 106px); }

#realizations .card {
  margin-bottom: 5px; }
  #realizations .card .card-header a {
    background-color: #D8173D;
    text-align: center;
    border-radius: 3px;
    transition: all 450ms; }
    #realizations .card .card-header a:hover, #realizations .card .card-header a:focus {
      text-decoration: none;
      background-color: #8d1f35; }
  #realizations .card .ngg-galleryoverview {
    text-align: center; }
    #realizations .card .ngg-galleryoverview .ngg-gallery-thumbnail-box {
      float: none;
      display: inline-block; }

.slider {
  margin: 30px 0; }
  .slider .wrapper {
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 350px;
    position: relative; }

/*# sourceMappingURL=style.css.map */
