body {
  font-family: 'Quicksand', monospace; }

h1 {
  font-family: 'Montserrat', monospace;
  color: #D8173D;
  margin: 60px 0 35px 0; }

h2 {
  font-family: 'Montserrat', monospace;
  color: #D8173D;
  margin: 60px 0 35px 0;
  font-weight: 200; }

h3 {
  font-family: 'Quicksand', monospace;
  font-weight: bold;
  margin: 60px 0 10px 0;
  color: #39393A; }

h4 {
  font-family: 'Quicksand', monospace;
  font-weight: bold;
  margin: 10px 0 8px 0;
  color: #39393A; }

h5 {
  font-family: 'Quicksand', monospace;
  color: #39393A; }

h6 {
  font-family: 'Quicksand', monospace;
  color: #39393A; }

p {
  font-family: 'Quicksand', monospace;
  color: #9D9FA3;
  letter-spacing: 1.4px; }

ol, dl, dt, ul, li {
  font-family: 'Quicksand', monospace; }

a {
  font-family: 'Montserrat', monospace;
  transition: .4s color, .4s background-color;
  color: #fff;
  font-weight: bold; }
  a.active, a:hover, a:focus {
    color: #fff; }
  .menu-item a.active, .menu-item a:hover, .menu-item a:focus {
    color: #39393A;
    background-color: #fff;
    text-decoration: none; }

.header-main-nav .current_page_item a {
  color: #39393A;
  background-color: #fff;
  text-decoration: none; }

span {
  font-family: 'Quicksand', monospace;
  color: #9D9FA3;
  letter-spacing: 1.4px; }

a.button, button.main, input[type="submit"] {
  background-color: #D8173D;
  color: #fff;
  font-weight: bold;
  transition: 300ms background-color;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 7px 25px; }
  a.button:hover, button.main:hover, input[type="submit"]:hover {
    background-color: #39393A; }
  a.button:focus, button.main:focus, input[type="submit"]:focus {
    outline: none; }

img {
  max-width: 100%;
  margin-bottom: 10px;
  object-fit: cover; }

/*# sourceMappingURL=typography.css.map */
