@import "partials/variables";

body {
    font-family: 'Quicksand', monospace;
}

h1 {
    font-family: 'Montserrat', monospace;
    color: $mainRed;
    margin: 60px 0 35px 0;
}

h2 {
    font-family: 'Montserrat', monospace;
    color: $mainRed;
    margin: 60px 0 35px 0;
    font-weight: 200;
}

h3 {
    font-family: 'Quicksand', monospace;
    font-weight: bold;
    margin: 60px 0 10px 0;
    color: $aHoverColor;
}

h4 {
    font-family: 'Quicksand', monospace;
    font-weight: bold;
    margin: 10px 0 8px 0;
    color: $aHoverColor;
}

h5 {
    font-family: 'Quicksand', monospace;
    color: $aHoverColor;
}

h6 {
    font-family: 'Quicksand', monospace;
    color: $aHoverColor;
}

p {
    font-family: 'Quicksand', monospace;
    color: $aColor;
    letter-spacing: 1.4px;
}

ol, dl, dt, ul, li {
    font-family: 'Quicksand', monospace;
}

a {
    font-family: 'Montserrat', monospace;
    transition: .4s color, .4s background-color;
    color: #fff;
    font-weight: bold;

    &.active, &:hover, &:focus {
        color: #fff;
    }

    // Menu different behaviour
    @at-root .menu-item a {
        &.active, &:hover, &:focus {
            color: $aHoverColor;
            background-color: #fff;
            text-decoration: none;
        }
    }
}

.header-main-nav {
    .current_page_item {
        a {
            color: $aHoverColor;
            background-color: #fff;
            text-decoration: none;
        }
    }
}


span {
    font-family: 'Quicksand', monospace;
    color: $aColor;
    letter-spacing: 1.4px;
}


a.button, button.main, input[type="submit"] {
    background-color: $mainRed;
    color: #fff;
    font-weight: bold;
    transition: 300ms background-color;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 7px 25px;


    &:hover {
        background-color: #39393A;
    }

    &:focus {
        outline: none;
    }
}

img {
    max-width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
}